.btnl {
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    background-color: #9c9c9c;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 6px;
    color: white;
    /* font-weight: bold; */
    line-height: 30px;
}

.btnl:hover {
    background-color: rgb(185, 185, 185);
}
.btns {
    padding: 0;
    margin: 0;
    background-color: #000000;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 6px;
    color: white;
    /* font-weight: bold; */
    margin-left: 3px;
}

.btns:hover {
    background-color: #292929;
}

.updateSub {
    text-align: center;
}

.starTitle {
    text-align: center;
    font-family: "Gugi", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 57px;
    margin-bottom: 50px;
  }

.title-container span {
    font-weight: bold;
    font-size: 20px;
}

.title-container hr {
    margin-top: 10px;
}

.qnaTitle {
    text-align: center;
}