/* .top-container {
    width: 960px;
    margin: 0 auto;
    
} */
.notice {
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}
.event {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    position: relative;
    overflow: hidden;
}
.event::before {
    content: '';
    position: absolute;
    top: -50%; 
    left: -50%;
    width: 150%; 
    height: 150%;
    background: linear-gradient(13deg, rgba(255, 255, 255, 0.3) 0%, transparent 80%);
    z-index: 1;
    animation: shine 2s infinite alternate;
}
@keyframes shine {
    from {
        transform: translateY(-50%) rotate(-45deg);
    }
    to {
        transform: translateY(50%) rotate(45deg);
    }
}

.event span {
    position: relative;
    z-index: 2; /* 텍스트가 가장 위에 오도록 설정 */
    color: #FFF; /* 텍스트의 색상을 밝은 색으로 설정 */
    display: inline-block; /* 텍스트의 너비만큼 요소를 설정 */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* 텍스트에 반사되는 빛 효과를 줍니다. */
}
.eventtext {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
}
.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    border: none;
    padding-right: 10px;
    font-size: 13px;
}
.search-container select, .search-container input[type="text"] {
    margin-left: 6px;
    padding: 6px;
    background-color: rgba(163, 184, 231, 0.1);
    border-radius: 3px;
    border: 1px solid #91ACCF;
}
.search-container button {
    margin-left: 5px;

    padding: 6px 15px;
    background-color: #91ACCF;

    color: white;
    border-radius: 3px;
    border: none;
}
.search-container button:hover {
    padding: 6px 15px;
    background-color: #91ACCF;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th {
    padding: 14px;
    text-align: center;
}
td {
    padding: 7px;
    height: 30px;
    border-bottom: 0.7px solid #000;
}
td img {
    animation: twinkle3 1.5s infinite alternate;
    margin-bottom: 4px;
}
thead {
    border-bottom: 2px solid #000;
}
tbody {
    padding-bottom: 400px;
}
tbody td {
    height: 40px;
}
.no-data {
    height: 400px;
}
.button-container {
    text-align: right;
    padding: 10px 0;
}
.button-container a {
    margin-left: 5px;
    padding: 7px 12px;
    background-color: rgba(51, 130, 246, 1);
    border-radius: 3px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
}
.button-container a:hover {
    background-color: rgba(41, 75, 254, 1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    color: white;
}
a {
    text-decoration: none;
    color: black;
}
.event-banner img{
    background: #f8f9fa;
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.fa-star {
    color: gold;
    font-size: 17px; /* 아이콘 크기 조정 */
    margin-right: 10px;
    animation: twinkle2 1.5s infinite alternate;
    transition: transform 0.3s ease-in-out; /* 크기 변화 애니메이션 */
}
.black-han-sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;padding: 0;
    text-align: center;
    padding-top: 50px;
    font-size: 57px;
    color:#91ACCF;
}
.black-han-sans-regular p {
    color:#91ACCF;
    font-size: 50px;
    margin: 0;padding: 0;
    /* border-bottom: 1px solid black; */
}
.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }

@keyframes twinkle2 {
    0% {
        opacity: 0.8;
        color: gold;
        transform: scale(1);
        text-shadow: 0 0 5px rgba(255, 223, 0, 0.8), 0 0 10px rgba(255, 223, 0, 0.8);
    }
    50% {
        color: lightgoldenrodyellow;
        opacity: 1;
        transform: scale(1.2);
        text-shadow: 0 0 10px rgba(255, 223, 0, 0.9), 0 0 20px rgba(255, 223, 0, 0.9);
    }
    100% {
        opacity: 0.8;
        color: gold;
        transform: scale(1);
        text-shadow: 0 0 5px rgba(255, 223, 0, 0.8), 0 0 10px rgba(255, 223, 0, 0.8);
    }
}

@keyframes fix-twinkle {
    0% {
        opacity: 1;
    }
    50% {
        color: crimson;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        color: orangered;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes twinkle3 {
    0% {
        opacity: 1;
    }
    50% {
        color: salmon;
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
.notice-row {
    background-color: #ffe1e1; 
 /* 회색 배경색 */
}

.twinkle {
    color: orange;
    animation: twinkle 1s infinite;
}
.status-waiting {
    color: grey; /* 답변 대기일 때의 색상 */
}

.status-completed {
    color: darkblue; /* 답변 완료일 때의 색상 */
    font-weight: bold;
}
.fixed {
    background-color: #f8f4f2;
}


/* 페이지네이션--------------------- */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
}
.pagination > span {
    margin: 0 5px;
    /* padding: 4px 8px; */
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
.pagination b {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-weight:bolder;
}
.pagination > span:hover {
    background-color: rgba(145, 172, 207, 1);
    color: #fff;
}

.pagination a.disabled {
    pointer-events: none;
    color: #ccc;
    border-color: #ccc;
}
.important {
    /* background-color: #ffe1e1; */
    color: rgb(248, 57, 57); 
    padding: 5px 11px;
    font-weight: bold; 
    
    text-align: center; 
    font-size: small;
}
.important .important-text {
    margin: 0; padding: 0;
    background-color: white;
    border: 2px solid rgb(248, 57, 57);
    border-radius: 5px;
}
.material-symbols-outlined{
    margin: 0; padding: 0;
    font-size: 20px;
}

.btnn{
    padding: 5px 10px !important;
    margin: 0 !important;
}