.NewEventCon {
    display: flex;
    min-height: 100%;
}

.NewEventEntries,
.NewEventReviews {
    border: 1px solid black;
    width: 50%;
    height: 300px; /* 원하는 높이로 설정하세요 */
    overflow-y: auto; /* 자식 요소가 높이를 넘을 때 스크롤되게 설정 */
}
