.navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideMenu {
    width: 200px;
    margin-right: 30px;
    margin-top: 172px;
}

.navLinks a {
    display: block;
    color: #6c757d;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 25px;
}

.navLinks a:hover {
    color: #000;
}

.navLinks .active {
    font-weight: bold;
    color: black;
}

.table {
    font-size: 15px;
}

.btnReview,
.btnRefund {
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    color: white;
    margin-right: 5px;
    width: 90px;
    text-align: center;
}

.btnReview {
    background-color: #2972FE;
}

.btnRefund {
    background-color: #2972FE;
}

.statusApproved {
    background-color: #DDDDDD;
}

.statusPending {
    background-color: #2972FE;
}

.table th,
.table td {
    vertical-align: middle;
    border-bottom: 1px solid gray;
    padding: 7px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.table tr,
th {
    text-align: center;
}

.prev,
.next {
    font-size: 24px;
}

.pageNumber:hover,
.prev:hover,
.next:hover {
    color: #000;
    cursor: pointer;
}

.list {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button {
    background-color: #2972FE;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 7px 15px;
    font-size: 20px;
    margin: 6px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.table a {
    text-decoration: none;
    color: black;
}

.statusWaiting {
    color: grey; /* 답변 대기일 때의 색상 */
}

.statusCompleted {
    color: darkblue; /* 답변 완료일 때의 색상 */
    font-weight: bold;
}

.juaRegular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button:hover {
    background-color: #1d5bc6;
}

/* 페이지네이션--------------------- */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    cursor: pointer;
}

.pagination > span {
    margin: 0 5px;
    /* padding: 4px 8px; */
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination b {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bolder;
}

.pagination > span:hover {
    background-color: rgba(145, 172, 207, 1);
    color: #fff;
}

.pagination a.disabled {
    pointer-events: none;
    color: #ccc;
    border-color: #ccc;
}
