/* 카드 스타일 */
.card {
    position: relative;
    /* overflow: hidden; */
    transition: opacity 0.5s, transform 0.5s;
    border-radius: 25px;
    padding: 3px;
    background-clip: padding-box;
    user-select: none; /* 텍스트 선택 방지 */
}



.card.standard {
    border: 1px solid transparent;
    background: linear-gradient(135deg, #4e5d6c, #6c7a89, #bfc9d1, #6c7a89, #4e5d6c);
    background-clip: padding-box;
    border-radius: 1.25rem;
}

.card.prime {
    border: 1px solid transparent;
    background: linear-gradient(to right, pink, purple, lightblue, cyan, lime, yellow, orange);
    border-radius: 1.25rem;
}

.card.gold {
    border: 1px solid transparent;
    background: linear-gradient(to right, gold, goldenrod, yellow, lightyellow, palegoldenrod);
    border-radius: 1.25rem;
}


.card.clicked {
    opacity: 0.5;
    transform: scale(1.2);
    animation: revertAnimation 0.5s 0.5s forwards;
}


/* 별이벤트 스타일 */

.click-star {
    position: relative;
}

.Starrr {
    position: absolute;
    font-size: 5em;
    z-index: 1000;
    display: none;
  }
  
  .Starrr.show {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: star-burst 1s ease-out forwards;
  }
  
  @keyframes star-burst {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(3);
    }
  }
  

.custom-card {
    height: 250px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
    border-radius: 25px;
}

/* .icon {
    cursor: pointer;
    font-size: 30px;
}

.icon-body {
    background-color: #b0d5ff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */


/* .detail-search {
    padding: 20px;
    background-color: #E7ECF6;
    border-radius: 10px;
} */

/* .form-check-inline {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
} */

/* .form-check-input {
    margin-right: 5px;
}

.form-check-label {
    margin-right: 15px;
    color: #495057;
} */

/* .row {
    display: flex;
    flex-wrap: wrap;
} */

/* .col-md-4 {
    flex: 1 1 33%;
    padding: 10px;
}

.search-title {
    font-size: 1.5rem;
    font-weight: bold;
} */

/* #cardContainer {
    margin-top: 65px;
} */

/* .fc-col-header-cell-cushion,
.fc-daygrid-day-number {
    color: black !important;
    text-decoration: none !important;
} */



.card-overlay,
.card-body {
    position: absolute;
    bottom: -55%;
    width: 100%;
    transition: bottom 1s;
}

.card-overlay {
height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    filter: blur(10px);
    z-index: 1;
}

/* .card-body {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    height: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
} */

.card-body {
    /* position: absolute; */
    /* bottom: -55%; */
    /* width: 100%; */
    /* transition: bottom 1s; */
    background: rgba(0, 0, 0, 0.5); 
    /* 배경색 조정 */
    border-radius: 25px;
    height: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    /* 왼쪽 정렬 */
    text-align: left; 
    /* 왼쪽 정렬 */
    padding: 10px;
    box-sizing: border-box;
    color: white; 
    /* 텍스트 색상 조정 */
  }
  

.card-body:hover {
    cursor: pointer;
}

/* .card:hover .overlay,
.card:hover .card-body {
    bottom: 0;
} */

.card:hover .card-overlay,
.card:hover .card-body {
  bottom: 0;
}


/* .card:hover .overlay {
    background-position: center bottom;
} */
.card:hover .card-overlay {
    background-position: center bottom;
  }
.card-body h5,
.card-body p {
    margin: 0;
}

.card-title {
    display: flex;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 5px;
    font-size: 80%;
    line-height: 1.2em;
    max-height: 2.4em;
    color: white; 
  }
  


.star {
    color: yellow;
    font-size: 24px;
    position: absolute;
    display: none;
    pointer-events: none;
    z-index: 1000;
}

.author-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

/* .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

/* 컨텐츠 아이콘 */
.content-icon {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: 5px;
    border-radius: 50%;
}

.right-content {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 5;
}


.right-content > svg {
    width: 16px; /* 아이콘의 너비 설정 */
    height: 16px; /* 아이콘의 높이 설정 */
    fill: white; /* 아이콘의 색상을 흰색으로 설정 */
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5)); /* 그림자 설정 */
}


.bottom-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: end;
    /* padding: 0; */
    /* height: 20%; */
}

.starLink-con {
    display: flex;
    align-items: end;
    text-align: center;
    height: 100%;
    width: 35%;
}

.starCategory2-con {
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* align-items: flex-start; */
    width: 65%;
  }
  

  .card-container {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    position: relative;
    cursor: pointer;
  }