.field-links {
    width: 100%;
    height: 35px;
    overflow: hidden;
    color: white;
    font-size: 50%;
    /* max-height: 2.4em; */
    margin: 2px 0;
}

.btn-custom {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    width: 30px;
    height: 16px;
    margin: 1px;
    align-content: center;
}

#asmr-link {
    width: 42px;
}

