/* ProfileForm.module.css */
.navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideMenu {
    width: 200px;
    margin-right: 30px;
    margin-top: 172px;
}

.navLinks a {
    display: block;
    color: #6c757d;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 25px;
}

.navLinks a:hover {
    color: #000;
}

.navLinks .active {
    font-weight: bold;
    color: black;
}
    
.container {
    padding: 20px;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /* 가로로 카드 배치 */
    margin-top: 20px;
  }
  
  .contentIcon {
    width: 32px; /* 원하는 너비 */
    height: 32px; /* 원하는 높이 */
    margin-right: 8px; /* 아이콘 간의 간격 조정 */
  }