/* ProfileForm.module.css */
.navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideMenu {
    width: 200px;
    margin-right: 30px;
    margin-top: 172px;
}

.navLinks a {
    display: block;
    color: #6c757d;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 25px;
}

.navLinks a:hover {
    color: #000;
}

.navLinks .active {
    font-weight: bold;
    color: black;
}

.button {
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 46px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

tbody {
    width: 600px;
    height: 350px;
}

.tableTd {
    height: 60px !important;
}

.tableTdFirstChild {
    width: 30%;
}

.tableTdLastChild {
    width: 70%;
}

.tableMargin {
    margin-top: 170px;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 360px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf85dv87L-QUBgTu6c8_OrOjHGFkldiqpx31GaI65ut4X0BbqtUvSPJWxyyuiD9bvKqzA&usqp=CAU');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 17%;
    border: 5px solid black;
    overflow: hidden;
}

.placeholder {
    font-size: 2em;
    color: #888;
}

#uploadedImage {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.button:hover {
    background-color: #1d5bc6;
}

.active {
    font-weight: bolder;
}
    