/* QnaListForm.module.css */
.navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideMenu {
    width: 200px;
    margin-right: 30px;
    margin-top: 172px;
}

.navLinks a {
    display: block;
    color: #6c757d;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 25px;
}

.navLinks a:hover {
    color: #000;
}

.navLinks .active {
    font-weight: bold;
    color: black;
}

.table {
    font-size: 15px;
    border-color: black;
}

.btnReview,
.btnRefund {
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 13px;
    border: none;
    color: white;
    margin-right: 5px;
    width: 90px;
    text-align: center;
}

.btnReview {
    background-color: #2972FE;
}

.btnRefund {
    background-color: #2972FE;
}

.statusApproved {
    background-color: #DDDDDD;
}

.statusPending {
    background-color: #2972FE;
}

.table th,
.table td {
    vertical-align: middle;
}

.table td .buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.table tr,
th {
    text-align: center;
}

.table.table td {
    margin-top: 30px;
}

.list {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.list a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.categoryLabel {
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    display: inline-block;
}

.loadMoreBtn {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.loadMoreBtn button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2972FE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loadMoreBtn button:hover {
    background-color: #1d5bc6;
}

.hidden {
    display: none;
}

.juaRegular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
