/* UserDeleteForm.module.css */
.navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideMenu {
    width: 200px;
    margin-right: 30px;
    margin-top: 172px;
}

.navLinks a {
    display: block;
    color: #6c757d;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 25px;
}

.navLinks a:hover {
    color: #000;
}

.navLinks .active {
    font-weight: bold;
    color: black;
}

.list {
    margin-top: 50px;
    color: #8d8d8d;
  }
  
  .font {
    margin-top: 166px;
  }
  
  .update {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 155px;
  }
  
  .checkbox {
    margin-top: -4px !important;
  }
  
  .button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 24px;
  }
  
  .noSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  