<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.server.mapper.LikeMapper">

    <select id="select" resultType="Integer">
        SELECT like_no
        FROM action
        where user_no=#{userNo} and star_no=#{starNo}
    </select>


    <insert id="save">
        INSERT INTO action( user_no, star_no)
        VALUES ( #{userNo}, #{starNo} )
    </insert>

    <delete id="delete">
        DELETE FROM action
        where user_no=#{userNo} and star_no=#{starNo}
    </delete>

</mapper>