<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.server.mapper.MessageMapper">

     <!-- CREATE -->
    <insert id="insertMessage" >
        INSERT INTO message (content, code, reply_no, pay_no, qna_no, user_no)
        VALUES (#{content}, #{code}, #{replyNo}, #{payNo}, #{qnaNo}, #{userNo})
    </insert>

    <!-- READ -->
    <select id="getMessageById" resultType="Message">
        SELECT * FROM message WHERE message_no = #{messageNo}
    </select>

    <!-- LIST by reply_no -->
    <select id="getMessageByReply" resultType="Message">
        SELECT * FROM message WHERE reply_no = #{replyNo}
    </select>

    <!-- LIST by pay_no -->
    <select id="getMessageByPay" resultType="Message">
        SELECT * FROM message WHERE pay_no = #{payNo}
    </select>
    <!-- LIST by qna_no -->
    <select id="getMessageByQna" resultType="Message">
        SELECT * FROM message WHERE qna_no = #{qnaNo}
    </select>
    <!-- LIST by user_no -->
    <select id="getMessageByUser" resultType="Message">
        SELECT m.*,u.name FROM message m join user u ON u.user_no = m.user_no WHERE m.user_no = #{userNo}
    </select>

    <!-- UPDATE -->
    <update id="updateMessage">
        UPDATE message SET
        content = #{content},
        code = #{code},
        reply_no = #{replyNo},
        pay_no = #{payNo},
        qna_no = #{qnaNo},
        user_no = #{userNo}
        WHERE message_no = #{messageNo}
    </update>

    <!-- DELETE -->
    <delete id="deleteMessage">
        DELETE FROM message WHERE message_no = #{messageNo}
    </delete>

    <select id="getMessagesList" resultType="Message">
        WITH RankedMessages AS (
            SELECT 
                m.*, 
                u.name,
                SUM(CASE WHEN m.code = 'toAdmin' THEN m.view ELSE 0 END) OVER (PARTITION BY m.user_no) AS count,
                ROW_NUMBER() OVER (PARTITION BY m.user_no ORDER BY m.message_no DESC) AS rn
            FROM 
                message m
            JOIN 
                user u ON u.user_no = m.user_no
        )
        SELECT 
            *
        FROM 
            RankedMessages
        WHERE 
            rn = 1
        ORDER BY 
            view DESC, message_no DESC;
    </select>

    <!-- 대화종료 -->
    <update id="updateMessageByUser">
        UPDATE message
        SET code = CONCAT(code, 'Closed')
        WHERE user_no = #{userNo}
        AND (code = 'toAdmin' OR code = 'toUser')
    </update>

    <!--1:1채팅창 메세지 가져오기-->
    <select id="getChatMessageByUser" resultType="Message">
        SELECT * 
        FROM message 
        WHERE user_no = #{userNo}
        AND (code = 'toUser' OR code = 'toAdmin')
    </select>
</mapper>