<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.server.mapper.PayMapper">

    <resultMap type="Pay" id="payMap">
        <result property="totalPrice" column="total_price"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="payNo">
        INSERT INTO payment_info ( code, price, user_no, star_no, status, product_title )
        VALUES ( #{code}, #{price}, #{userNo}, #{starNo}, #{status}, #{productTitle} )
    </insert>

    <select id="select" resultType="Pay">
        SELECT * FROM payment_info WHERE star_no = #{StarNo} LIMIT 0,1
    </select>


    <!-- 마이페이지 결제 내역 -->
    <select id="userList" resultType="Pay">
    SELECT pi.*,
            sb.status as star_status
        FROM 
            payment_info pi
        JOIN 
            star_board sb
        ON 
            pi.user_no = sb.user_no
        WHERE pi.user_no = #{userNo}
        AND pi.star_no = sb.star_no
        ORDER BY sb.reg_date DESC
    </select>

    <select id="totalList" resultType="Pay">
        SELECT *
        FROM payment_info
        order by pay_no desc
    </select>

    <!-- 회원 정보 수정 -->
    <update id="update">
        UPDATE payment_info
           SET price = #{price}
              ,status = #{status}
        WHERE pay_no = #{payNo}
    </update>

    <!-- 관리자 회원별 결제 조회 -->
    <select id="totalPrice" resultType="Pay">
        SELECT sum(price) as total_price
        FROM payment_info
        WHERE user_no = #{userNo}
    </select>

</mapper>