<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.server.mapper.PointMapper">

    <insert id="insert" >
        INSERT INTO point (point, user_no, star_no, type, send_no, msg)
    VALUES (#{point}, #{userNo}, #{starNo}, #{type}, #{sendNo}, #{msg})
    </insert>

    <select id="selectBoard" resultType="int">
        SELECT sum(point) as sum FROM point WHERE star_no = #{starNo}
    </select>

    <select id="list" resultType="Point">
    SELECT * FROM point WHERE user_no = #{userNo} order by point_no desc
    </select>

    <select id="sum" resultType="int">
        SELECT sum(point) as sum
        FROM point where  user_no = #{userNo}
    </select>

</mapper>