<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.server.mapper.ReplyMapper">

<!-- 댓글 목록 -->
<select id="list" resultType="Reply">
     SELECT * 
     FROM reply
</select>

<!-- 댓글 목록 - [글번호] -->
<select id="listByStarNo" resultType="Reply">
     SELECT *
     FROM reply
     WHERE star_no = #{starNo}
     ORDER BY 
     CASE WHEN parent_no = reply_no THEN reply_no ELSE parent_no END DESC,
          CASE WHEN parent_no = reply_no THEN 0 ELSE 1 END, 
          reg_date DESC; 
</select>

<!-- 댓글 조회 -->
<select id="select" resultType="Reply">
     SELECT * 
     FROM reply
     wHERE reply_no = #{replyNo}
</select>

<!-- 댓글 등록 -->
<insert id="insert">
     INSERT INTO reply (user_no, star_no, parent_no, writer, content)
     VALUES (#{userNo}, #{starNo}, #{parentNo}, #{writer}, #{content})
</insert>


<!-- 댓글 수정 -->
<update id="update">
     UPDATE reply                       <!-- 댓글 수정할 때 parentNo 수정할 필요 X-->
        SET writer = #{writer},
        content = #{content}
           <if test="parentNo != 0">
               ,parent_no = #{parentNo} <!-- 답글 수정할 때는 수정 -->
          </if>
           ,upd_date = now()
    wHERE reply_no = #{replyNo}
</update>

<!-- 댓글 삭제 -->
<delete id="delete">
    DELETE FROM reply
    wHERE reply_no = #{replyNo}
</delete>

<!-- ⭐댓글 종속 삭제 -->
<delete id="deleteByBoardNo">
     DELETE FROM reply
     WHERE star_no = #{starNo}
</delete>

<!-- 댓글 번호 최댓값 -->
<!-- LAST_INSERT_ID() : AI 로 증가한 가장 마지막 번호 -->
<select id="max" resultType="int">
     SELECT MAX(reply_no)
     FROM reply
</select>

<!-- ⭐답글 종속 삭제 -->
<delete id="deleteByParentNo">
     DELETE FROM Reply
     WHERE parent_no = #{parentNo}
</delete>

<!-- 댓글 개수 조회 -->
<select id="countByStarNo" resultType="int">
     SELECT COUNT(*)
     FROM reply
     WHERE star_no = #{starNo}
</select>

<!-- 댓글 조회 - user기준 -->
<select id="selectUser" resultType="reply">
     SELECT *
     FROM reply
     WHERE user_no = #{userNo}
</select>

</mapper>