.star-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 간격 조절 */
  }

.star-card-item {
    flex: 1 0 15%; /* 6개씩 정렬되도록 설정 (100% / 6개 = 16.66%) */
    max-width: 15%;
    box-sizing: border-box;
    margin-bottom: 20px; /* 아래쪽 간격 */
  }

/* 반응형 디자인을 위해 필요한 경우 추가 설정 */
@media (max-width: 1200px) {
    .star-card-item {
      flex: 1 0 24%; /* 4개씩 정렬 */
      max-width: 24%;
    }
  }
  
  @media (max-width: 768px) {
    .star-card-item {
      flex: 1 0 32%; /* 3개씩 정렬 */
      max-width: 32%;
    }
  }
  
  @media (max-width: 576px) {
    .star-card-item {
      flex: 1 0 48%; /* 2개씩 정렬 */
      max-width: 48%;
    }
  }