/* 기존 스타일 */



.board-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-muted {
    font-size: 0.8rem;
}

.search-input {
    margin-right: 15px;
}

#searchForm{
    align-content: center;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.badge-secondary {
    margin-right: 10px;
}

#promotionCarousel .card {
    border-radius: 1.25rem;
    /* overflow: hidden; */
    
}

.icon-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.icon {
    cursor: pointer;
    font-size: 30px;
}

.icon-body {
    background-color: #b0d5ff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.detail-search {
    padding: 20px;
    background-color: #E7ECF6;
    border-radius: 10px;
}

.form-check-inline {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 5px;
}

.form-check-label {
    margin-right: 15px;
    color: #495057;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 1 1 33%;
    padding: 10px;
}

.search-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#cardContainer {
    margin-top: 65px;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
    color: black !important;
    text-decoration: none !important;
}

/* 카드 스타일 */
.card {
    position: relative;
    /* overflow: hidden; */
    transition: opacity 0.5s, transform 0.5s;
    border-radius: 25px;
    padding: 3px;
    background-clip: padding-box;
    user-select: none; /* 텍스트 선택 방지 */
}



.card.clicked {
    opacity: 0.5;
    transform: scale(1.2);
    animation: revertAnimation 0.5s 0.5s forwards;
}

@keyframes revertAnimation {
    from {
        opacity: 0.5;
        transform: scale(3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes burst {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(6);
        opacity: 0;
    }
}
    


    #starList {
        margin-top: 30px;
    }

    #card-effect {
        margin: 0;
        padding: 0;
        border: 0;
    }


    /* 타입 버튼 클릭시 변경 스타일*/
    .type-sub.checked label,
    .type-sub.checked i,
    .type-sub.checked img {
        color: black;
        z-index: 3;
    }

    /* 중앙에 메시지를 출력하기 위한 스타일 */
    .no-results {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 24px;
        color: #555;
    }

    .type-sub label:hover {
        cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
    }

    .clipboard-icon{
        transform: rotate(180deg); /* 요소를 180도 회전시키는 변환 */
        opacity: 0;
    }

    .clipboard-icon.rotate-180:hover{
        transform: rotate(0deg); /* 요소를 180도 회전시키는 변환 */
        opacity: 1;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; /* 회전 애니메이션 및 투명도 변환 애니메이션 속성 */
    }

    .bi-three-dots-vertical.rotate-180 {
        transform: rotate(180deg); /* 요소를 180도 회전시키는 변환 */
        transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out; /* 회전 애니메이션 및 투명도 변환 애니메이션 속성 */
        opacity: 0; /* 투명도를 0으로 설정하여 요소가 서서히 사라지도록 함 */
    }


    
    .bi-three-dots-vertical.show {
        transform: rotate(180deg); /* 요소를 180도 회전시키는 변환 */
        opacity: 1;
        transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out; /* 회전 애니메이션 및 투명도 변환 애니메이션 속성 */
    }


  

    @media (max-width: 768px) {
        .col-md-2 {
            flex: 0 0 48%; /* 한 줄에 2개의 카드를 표시하도록 설정 */
            max-width: 48%; /* 한 줄에 2개의 카드를 표시하도록 설정 */
        }
        .starList-detail {
            margin-top: 20px;
        }
        .container-typeTitle span {
            position: absolute;
            width: 100%;
            top: -70px;
            color: #555;
            font-size: 0.7em;
            letter-spacing: -1px; /* 폰트의 간격을 조절합니다. 음수 값은 글자를 겹치게 합니다. */
        }
        .type-sub {
            align-content: center;
            width: 60px;
            border: 1px solid rgb(220, 223, 225);
            border-radius: 23px;
            font-size: 0.7em;
            text-align: center;
            margin: 2px 4px;
            height: 36px;
            background-color: #fff;
            color: rgb(105, 108, 115);
            cursor: pointer;
            display: inline-block;
            box-shadow: -3px 0 1px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.08);
        }
    }
    
    @media (min-width: 769px) and (max-width: 992px) {
        .col-md-2 {
            flex: 0 0 33%; /* 한 줄에 3개의 카드를 표시하도록 설정 */
            max-width: 33%; /* 한 줄에 3개의 카드를 표시하도록 설정 */
        }
        .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 4%;
        }
        .starList-detail {
            margin-top: 20px;
        }
        .container-typeTitle span {
            position: absolute;
            width: 100%;
            top: -70px;
            color: #555;
            font-size: 1em;
            letter-spacing: -1px; /* 폰트의 간격을 조절합니다. 음수 값은 글자를 겹치게 합니다. */
        }
        .type-sub {
            align-content: center;
            width: 65px;
            border: 1px solid rgb(220, 223, 225);
            border-radius: 23px;
            font-size: 0.9em;
            text-align: center;
            margin: 2px 4px;
            height: 55px;
            background-color: #fff;
            color: rgb(105, 108, 115);
            cursor: pointer;
            display: inline-block;
            box-shadow: -3px 0 1px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.08);
        }
    }
    
    @media (min-width: 993px) {
        .col-md-2 {
            flex: 0 0 16%; /* 한 줄에 4개의 카드를 표시하도록 설정 */
            max-width: 16%; /* 한 줄에 4개의 카드를 표시하도록 설정 */
        }
        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .starList-detail {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 20px;
        }
        .container-typeTitle span {
            position: absolute;
            width: 35%;
            top: -60px;
            color: #555;
            font-size: 1.3em;
            letter-spacing: -1px; /* 폰트의 간격을 조절합니다. 음수 값은 글자를 겹치게 합니다. */
        }

        /* 타입 버튼 스타일 */
        .type-sub {
            align-content: center;
            width: 65px;
            border: 1px solid rgb(220, 223, 225);
            border-radius: 23px;
            font-size: 0.9em;
            text-align: center;
            margin: 0px 4px;
            height: 55px;
            background-color: #fff;
            color: rgb(105, 108, 115);
            cursor: pointer;
            display: inline-block;
            box-shadow: -3px 0 1px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.08);
        }
    }

    .justify-content-center{
        margin-top: 2%;
    }
    
