footer {
    background-color: #E7ECF6;
    color: black;
    text-align: center;
    padding: 2em 0;     
    position: absolute;
    margin-top: 100px;
    width: 100%;
}
footer a {
    color: black;
    margin: 0;
    text-decoration: none;
}
.bold-text {
    font-weight: bold;
}
.icons a {
    margin: 0;
    font-size: 1.5em;
    vertical-align: middle;
}
.icons img {
    width: 1.0em;
    height: 1.0em;
    vertical-align: middle;
}
footer p {
    margin: 0;
}
