footer {
    background-color: #E7ECF6;
    color: black;
    text-align: center;
    padding: 2em 0;     
    position: absolute;
    margin-top: 100px;
    width: 100%;
}
footer a {
    color: black;
    margin: 0;
    text-decoration: none;
}
.bold-text {
    font-weight: bold;
}
.icons a {
    margin: 0;
    font-size: 1.5em;
    vertical-align: middle;
}
.icons img {
    width: 1.0em;
    height: 1.0em;
    vertical-align: middle;
}
footer p {
    margin: 0;
}

/* 채팅 추가 */

 /* 담당자 문의 부분 */
 .floating {
        position: fixed;
        right: 30px;
        bottom: 45px;
        background-color: blueviolet;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: 9999;
        transition: all 0.3s ease-in-out;
    }

    .floating svg {
        color: white;
        width: 50px;
        height: auto;
    }

    .floating.open {
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }

    .chat-container {
        display: none;
        width: 100%;
        height: 74%;
        background-color: white;
        /* border-radius: 10px; */
        padding: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .floating.open .chat-container {
        display: block;
    }

    .chat-btn-close {
        display: inline-block;
    }

    #closeChatButton {
        text-decoration: none;
        position: relative;
    }

    #closeChatButton i {
        font-size: 2em; /* 2배 크기 */
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    }

    .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    #closeChatButton:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }

    .chat-messages {
        height: 80%; overflow-y: auto;
    }