<!DOCTYPE html>
<html lang="en">
  <head th:replace="/admin/header :: head"></head>
  <body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
  <div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>
  
  
    <!-- 사이드바 -->
    <div th:replace="/admin/sidebar :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>회원 정보</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/pages">home</a></li>
              <li class="breadcrumb-item active">회원 관리</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">회원 정보</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr align="center">
                      <th style="width: 1%">
                          NO
                      </th>
                      <th style="width: 20%">
                          아이디
                      </th>
                      <th style="width: 30%">
                          이름
                      </th>
                      <th>
                          연락처
                      </th>
                      <th style="width: 8%" class="text-center">
                          회원 등급
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              <tbody align="center">
                  <tr th:each="user : ${userList}">
                      <td>
                          <span th:text="${user.userNo}"></span>
                      </td>
                      <td>
                          <span th:text="${user.email}"></span>
                          <br/>
                          
                      </td>
                      <td>
                          <ul class="list-inline">
                            <span th:text="${user.name}"></span>
                          </ul>
                      </td>
                      <td class="project_progress">
                          <span th:text="${user.phone}"></span>
                      </td>
                      <td class="project-state">
                          <!-- <tr th:each="auth : ${authList}"></tr> -->
                          <span th:if="${user.auth}=='ROLE_ADMIN'" class="badge badge-dark" th:text="${user.auth}"></span>
                          <span th:if="${user.auth}=='ROLE_USER'" class="badge badge-success" th:text="${user.auth}"></span>
                          <span th:if="${user.auth}=='ROLE_GUEST'" class="badge badge-danger" th:text="${user.auth}"></span>
                          <!-- <span class="badge badge-success" th:text="${user.totalPrice}"></span> -->
                      </td>
                      <td class="project-actions text-right">
                        <!-- 나의 생각.. 회원 조회 버튼 하나만 남기고 조회 페이지에서 수정/삭제하게 만들기 -->
                        <!-- 버튼이 너무 많은 것 같음 -->
                          <a class="btn btn-primary btn-sm" th:href="|/admin/pages/profile?userNo=${user.userNo}|">
                              <i class="fas fa-folder">
                              </i>
                              정보조회
                          </a>
                          <!-- <a class="btn btn-info btn-sm" th:href="|/admin/pages/project-edit?userNo=${user.userNo}|">
                              <i class="fas fa-pencil-alt">
                              </i>
                              정보수정
                          </a>
                          <a class="btn btn-danger btn-sm" href="/page/mypage/userDelete">
                              <i class="fas fa-trash">
                              </i>
                              회원탈퇴
                          </a> -->
                          
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/admin/dist/js/demo.js"></script>

<script>

  function userEdit(){

  }
</script>
</body>
</html>
