.login-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px 0;
}
.login-form {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    background: radial-gradient(circle at center, #91ACCF, transparent 60%);
}

.login-form button {
    width: 100%;
}

.login-form img{
    width: 50px;
}
.other-login-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.other-login-icon .other-login-img{
    height: 50px;
}
.login-find-text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.login-check-box {
    display: flex;
    justify-content: space-around;
}
/* 버튼 스타일 */
.loginbtn {
    /* width: 100%; */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #91ACCF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition:all 0.3s;
    width: 100%;
    /* margin-top: 12px; */
}
.loginbtn:hover {
    background-color: #a2bfe6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.input-style {
    width: 330px;
    margin: auto;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal
}